flake8-docstrings==0.2.1.post1 # MIT

fixtures>=3.0.0 # Apache-2.0/BSD
mock>=2.0.0 # BSD

oslotest>=1.10.0 # Apache-2.0
testrepository>=0.0.18 # Apache-2.0/BSD
testtools>=1.4.0 # MIT
os-testr>=0.8.0 # Apache-2.0
WebTest>=2.0 # MIT